body{
  background-image: url('city.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 0.2vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(18, 18, 37)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.144);
}

#main{
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.479);
  border-radius: 20px;
  min-width: 50px;
  margin: auto;
  min-height: 100px;
  max-width: 500px;
  background-color: rgba(29, 117, 175, 0.692);
  margin-top: 70px;
  justify-content:space-between;
}

#imput1{
  height: 30px;
  width: 350px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.616);
}

#butt1{
  border-radius: 20px;
  background-color: rgba(22, 79, 153, 0.705);
  height: 30px;
  margin-right: 20px;
  margin-top: 30px;
  width: 70px;
  color: white;
}

#title1{
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.664);
}

.tdlcnt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid rgba(255, 255, 255, 0.479);
  border-radius: 20px;
  min-width: 50px;
  margin: auto;
  max-width: 500px;
  background-color: rgba(29, 117, 175, 0.692);
  margin-top: 20px;
}

.todo:hover .todobtn{
  display: block;
}

.todo:hover .complete{
  display: block;
}

.todo{
  position: relative;
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgba(22, 150, 224, 0.616);
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.todobtn{
  color: white;
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgba(0, 60, 255, 0.795);
  border-radius: 50%;
  right: 4px;
  top: 4px;
  border: 1px solid white;
  display: none;
}

.complete{
  color: white;
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgba(134, 206, 26, 0.712);
  border-radius: 50%;
  right: 25px;
  top: 4px;
  border: 1px solid white;
  display: none;
}

.task{
  color: rgba(0, 0, 0, 0.685);
  margin-left: 10px;
  font-family: 'Fjalla One', sans-serif;
}

.taskk{
  text-decoration: line-through;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.404);
  font-family: 'Fjalla One', sans-serif;
}

#selector{
  background-color: rgba(72, 153, 219, 0.589);
  border: 1px solid rgba(0, 119, 255, 0.692);
  width: 150px;
  height: 30px;
  min-width: 120px;
  border-radius: 5px;
}

#sel{
  position: absolute;
  right: 20px;
  top: 20px;
}

#tdlcnttxt{
  margin-left: 30%;
  font-family: 'Fjalla One', sans-serif;
}